<ion-view>
  <ion-nav-title>My Pledges</ion-nav-title>
  <ion-content class="padding pledges">
    <div class="name">
      <h3>My Pledges</h3>
    </div>

    <div class="list">

      <div class="card" ng-repeat="pledge in my_pledges" ng-click="goPledgeDetail(pledge)">
        <div class="item item-avatar">
          <img class="profile-img" ng-src="{{ pledge.my_profile.photo_url }}">
          <h2>
            R$ {{ pledge.mine_amount | number: 2 }}
          </h2>
          <p>{{ pledge.name }}</p>
        </div>
        <div class="item item-body">
          <div class="spacer"> </div>
          <img class="trip-map-summary" ng-src="{{ SERVER_URL+'/api/routes/all/'+pledge.route_id.toString()+'/map' }}" >
        </div><!-- /item item-body -->
      </div><!-- /card -->

      <div class="card no-pledges" ng-show="my_pledges.length == 0" ng-click="goMyRoutes()" >
        <div class="item item-body">
          <h2> No pledges</h2>
          <p>
            You have not contributed to any Sao Paulo Metro lines yet.
            To be heard in the next generation of transit in Sao Paulo,
            go to your suggested routes and pledge your support for your
            favorite routes. Your pledge will not only make it more
            likely for that Metro line to be built but will give you
            credit towards your future rides on that line!
          </p>
          <button class="button button-full button-balanced">
            See suggested metro routes 
          </button>
        </div>
      </div><!-- /card -->


      <div class="item item-divider section">
        Friends' Pledges 
      </div> 

      <div class="card" ng-repeat="pledge in friend_pledges">
        <div class="item item-avatar">
          <img class="profile-img" ng-src="{{ pledge.friend_profile.photo_url }}">
          <h2>
            R$ {{ pledge.friend_amount | number: 2 }} by {{ pledge.friend_profile.name }}
          </h2>
          <p>{{ pledge.name }}</p>
        </div>
        <div class="item item-body">
          <div class="spacer"> </div>
          <img class="trip-map-summary" ng-src="{{ SERVER_URL+'/api/routes/all/'+pledge.route_id.toString()+'/map' }}" >
        </div><!-- /item item-body -->
      </div><!-- /card -->
    </div><!-- /list -->
    <br>

  </ion-content>

</ion-view>
