/* Empty. Add your own CSS if you like */

/*global*/
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    color: lightblue;
}

ui-gmap-google-map.trip-map-summary > div.angular-google-map > div.angular-google-map-container {
  width: 100%;
  height: 300px; /* this needs to be in px because google maps? */
}

/* list dividers */
.item.item-divider.section {
  background-color: #03A9F4;
  color: white;
  border: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*
progress[value]::-webkit-progress-bar {
  background-color: #00E676;
}

progress[value]::-webkit-progress-value {
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
*/



/*
 * Feed tab styling
 */

/* trip card background image */
.trip-feed .item.item-divider.date {
  background-color: #03A9F4;
  color: white;
  border: none;
}

/* header details for the card */
.trip-feed .card .item.item-avatar.header {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, .8);
  color: black;
}

/* stats for trip cards */
.trip-feed .card .item.item-avatar.header .summary-stats {
  padding-right: 30px;
}


/*
 * Trip Detail
 */

.trip-detail .name {
  margin: 20px auto;
}

.trip-detail img.avatar {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.trip-detail .total {
  background-color: rgba(214, 214, 214, .5);
  padding: 30px;
}

/*
 *- Routes tab styling
 */

.routes .item.item-divider.section {
  background-color: #03A9F4;
  color: white;
  border: none;
}

.routes .list .card .item.header .details {
  color: #AAAAAA;
}

.routes .list .card .item.item-image .route-image {
  z-index: -1;
}

.routes .list .card .item.item-image .map-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
  font-size: 2.5em;
}

.routes .list .card .item.item-image .contribute-button {
  /*background-color: #FFC107;
  border: none;
  color: black;*/
  font-style: bold;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.routes .list .card .item.footer .supporter-stats {
  padding: 10px;
  color: green;
}

/*
 * Routes Detail styling
 */

.route-detail .name {
  padding: 20px;
  text-align: center;
}


.route-detail .stats {
  width: 100%;
  font-size: 1em;
  margin: 15px auto;
}

.route-detail .stats-bold {
  font-size: 1.1em;
  font-weight: 500;
}

.route-detail .stats progress[value] {
  margin: 5px auto;
}

.route-detail .details {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.route-detail .details .detailed-stats {
  font-size: 1em;
}
.route-detail .details .detailed-stats li {
  display: inline-block;
  padding-right: 40px
}

.route-detail .details .detailed-stats li .stats-value {
  font-weight: bold;
  font-size: 1.1em;
}

.route-detail .details .detailed-stats li .stats-label {
  color: darkgray;
}

.route-detail .hr-divider {
  border: none;
  background-color: #E0E0E0;
  height: 2px;
  margin: 25px auto;
}

.route-detail .total {
  background-color: rgba(214, 214, 214, .5);
  padding: 30px;
}

.route-detail .item.item-divider.section {
  background-color: #03A9F4;
  color: white;
  border: none;
}

/*
 * Routes Pledge styling
 */

.route-pledge .name {
  padding: 20px;
  text-align: center;
}

.route-pledge .card .item h2 {
  padding-top: 10px;
  font-weight: 500;
}

.route-pledge .card .checkmark {
  padding-top: 10px;
  float: right;
  color: gray;
}

.route-pledge .card.selected {
  border: 1px solid #00E676;
}

.route-pledge .card.selected .checkmark {
  padding-top: 0px;
  color: #00E676;
  font-size: 2em;
  float: right;
}

.route-pledge .total {
  margin-top: 50px;
  padding: 20px;
  background-color: #E1F5FE;
}

/*
 * My Pledges tab styling
 */
.pledges .name {
  padding: 20px;
  text-align: center;
}

.pledges .name h3{
  margin: 0 auto;
}

.pledges .list .card .item-avatar h2 {
  font-size: 1.2em;
  font-weight: 500;
}

.pledges .list .card .item-avatar h2 .price {
  font-style: bold;
}

.pledges .list .card .item-body {
  padding: 0;
}

.pledges .list .card .item-body .spacer {
  margin: 100px;
}

/* XXX this image cropping is pretty sketch */
.pledges .list .card .item-body img.trip-map-summary {
  position: absolute;
  top: 0;
  height: 300px;
  z-index: 1000;
}

/*
 * Pledges detail
 */
.pledges-detail .card .item.price h2{
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
}

.pledges-detail .name {
  padding: 20px;
  text-align: center;
}

.pledges-detail .name h3{
  margin: 0 auto;
}

.pledges-detail .list .card .item-avatar h2 {
  font-size: 1.2em;
  font-weight: 500;
}

.pledges-detail .list .card .item-avatar h2 .price {
  font-style: bold;
}

.pledges-detail .list .card .item-body {
  padding: 0;
}

.pledges-detail .list .card .item-body img {
  position: absolute;
  top: 0;
  height: 300px;
}

.pledges-detail .list .card .item-body .route-details {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 10px;
}

.pledges .list .card .item-body .route-details p {
  margin-top: 5px;
}

.pledges .list .card .item-body .route-details .stats {
  font-size: 0.8em;
}

.pledges .list .card .item-body li {
  display: inline-block;
  padding-right: 20px
}
