<ion-view>
  <ion-nav-title>My Route {{ route.routeId }}</ion-nav-title>
  <ion-content class="padding route-pledge">
    <!-- route title, should this be constructed? -->
    <div class="name">
      <h3>PLEDGE</h3>
      <h3>Grupo Ultra to Skye Bar</h3>
    </div>
    <!-- route summary -->

    <!--- trips making up the route -->
    <div class="card" ng-class="{'selected': $index == selectedIndex }" ng-repeat="pledge in pledgeLevels" ng-click="selectPledge(pledge)">
      <div class="item">
        <i class="checkmark ion-checkmark-circled"></i>
        <h2>{{ pledge.name }}  -  {{ pledge.amount | currency }}</h2>
      </div>
      <div class="item item-body">
        <div>{{ pledge.description }}</div>
      </div>
    </div>


    <div class="total">
      <h4>
        <span>Total: </span>
        <span class="right">{{ selectedPledge | currency }}</span>
      </h4>
    </div>
    <button ng-show="selectedPledge != savedPledge" class="button button-full button-balanced" ng-click="makePledge()">
      Pledge Now!
    </button>
    <div ng-show="selectedPledge == savedPledge">
      <div class="thanks">Thank you for your pledge!</div>
      <button class="button button-full button-balanced" ng-click="shareOnFacebook()">
        Share on Facebook
      </button>
      <button class="button button-full button-calm" ng-click="finishPledge()">
        See all pledges
      </button>
    </div>
  </ion-content>
</ion-view>
