<ion-view>
  <ion-nav-title>My Route {{ route.routeId }}</ion-nav-title>
  <ion-content class="padding route-pledge">
    <!-- route title, should this be constructed? -->
    <div class="name">
      <h3>PLEDGE</h3>
      <h3>Grupo Ultra to Skye Bar</h3>
    </div>
    <!-- route summary -->

    <!--- trips making up the route -->
    <div class="card" ng-class="{'selected': $index == selectedIndex }" ng-repeat="pledge in pledgeLevels" ng-click="selectPledge(pledge)">
      <div class="item">
        <i class="checkmark ion-checkmark-circled"></i>
        <h2>{{ pledge.name }}  -  {{ pledge.price | currency }}</h2>
      </div>
      <div class="item item-body">
        <div>{{ pledge.description }}</div>
      </div>
    </div>


    <div class="total">
      <h4>
        <span>Total: </span>
        <span class="right">{{ pledgeTotal | currency }}</span>
      </h4>
    </div>
    <button ng-show="currentPledge != pledgeTotal" class="button button-full button-balanced" ng-click="makePledge()">
      Pledge Now!
    </button>
    <button ng-show="currentPledge == pledgeTotal" class="button button-full button-balanced" ng-click="goToRoutes()">
      Thank You!
    </button>
  </ion-content>
</ion-view>
