<md-toolbar class="app-header">
  <div class="md-toolbar-tools">
    <img class="logo" src="/assets/icons/logo-white.png"></img>
    <h2 class="md-flex">Roll Together Admin Dashboard</h2>
  </div>
</md-toolbar>

<div class="container">

  <div layout="row" class="heading">
    <h2>Overall Summary</h2>
  </div>

  <div layout="row">
    <div flex flex="33">
      <md-card class="blue">
        <md-card-content>
          <h2>Trips</h2>
          <h1>{{ summary.trip_count }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <div flex flex="33" >
      <md-card class="yellow">
        <md-card-content>
          <h2>Hours wasted</h2>
          <h1>{{ ((summary.trip_total_driving_time_min - summary.trip_total_transit_time_min) / 60.0) | number : 0 }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <div flex flex="33" >
      <md-card class="teal">
        <md-card-content>
          <h2>Money wasted</h2>
          <h1>R$ {{ (summary.trip_total_driving_cost_real - summary.trip_total_transit_cost_real) | number : 0 }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <div flex flex="33" >
      <md-card class="red">
        <md-card-content>
          <h2>Backers</h2>
          <h1>{{ summary.backer_count }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <div flex flex="33" >
      <md-card class="indigo">
        <md-card-content>
          <h2>Pledges</h2>
          <h1>{{ summary.pledge_count }}</h1>
        </md-card-content>
      </md-card>
    </div>
    <!--p>R$ {{ (summary.trip_total_driving_cost_real - summary.trip_total_transit_cost_real) | number : 0 }} wasted</p>

    <p>{{ summary.backer_count }} backers</p>
    <p>{{ summary.pledge_count }} pledges</p>
    <p>R$ {{ summary.pledge_total_amount }} pledged</p-->
  </div><!-- end of summary card -->

  <div layout="row" class="heading">
    <h2>Daily Summary</h2>
  </div>

  <div layout="row">
    <div flex="50">
      <h2>Total trips per day</h2>
      <div class="graph-container">
        <canvas id="trip_per_day" class="chart chart-bar" 
          chart-data="trip_chart.data"
          chart-labels="trip_chart.labels" 
          chart-legend="false" 
          chart-series="trip_chart.series"
          >
        </canvas> 
      </div>
    </div>
    <div flex="50">
      <h2>Total pledges</h2>
      <div class="graph-container">
        <canvas id="total_pledges" class="chart chart-line" 
          chart-data="pledge_chart.data"
          chart-labels="pledge_chart.labels" 
          chart-legend="false" 
          chart-series="pledge_chart.series"
          >
        </canvas> 
      </div>
    </div>
  </div>

  <div layout="row" class="heading">
    <h2>Metro Route Details</h2>
  </div>
  <div flex layout="row">
    <div flex="20" class="select-routes" layout="column">
      <div layout="column" layout-wrap class="route-selector">
        <div ng-repeat="route in routes">
          <md-card class="route-card" ng-class="{selected: route.route_id == selected_route.route_id" ng-click="setSelectedRoute(route)">
            <md-card-content>
              <h2 class="md-title">{{ route.name }}</h2>
              <span class="left">{{ route.trip_info.count }} trips</span>
              <span class="right">{{ route.pledge_info.count }} backers</span>
              <!--p>R$ {{ route.pledge_info.amount | number: 0 }} pledged</p>
              <p>R$ {{ (route.pledge_info.amount * 100.0 / route.target_amount) | number: 0 }}% funded</p-->
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
    <!--md-content>
      <md-list>
        <md-list-item  ng-repeat="route in routes">
          <md-card ng-click="setSelectedRoute(route)">
            <md-card-content>
              <h2 class="md-title">{{ route.name }}</h2>
              <p ng-if="route.route_id == selected_route.route_id">Selected</p>
              <p>{{ route.trip_info.count }} trips</p>
              <p>{{ route.pledge_info.count }} backers</p>
              <p>R$ {{ route.pledge_info.amount | number: 0 }} pledged</p>
              <p>R$ {{ (route.pledge_info.amount * 100.0 / route.target_amount) | number: 0 }}% funded</p>
            </md-card-content>
          </md-card>
        </md-list-item>
      </md-list>
    </md-content-->

  <!--/div-->

    <div flex="80" class="route-details" layout="column">
      <div layout="row" class="image-stats">
        <div flex="35" class="route-image">
          <img ng-src="{{ SERVER_URL }}/api/routes/all/{{ selected_route.route_id }}/map"></img>
        </div>

        <div flex="65" class="parent">
          <div layout="column" class="description">
            <h1>{{selected_route.name}}</h1>
            <p> {{selected_route.description}}</p>
          </div>
          <div layout="row" class="stats-cards">
            <div flex flex="33">
              <md-card class="blue">
                <div>Trips</div>
                <div class="value">{{ selected_route.trip_info.count }}</div>
              </md-card>
            </div>
            <div flex flex="33" >
              <md-card class="yellow">
                <div>Hours wasted</div>
                <div class="value">{{ ((selected_route.trip_info.total_driving_time_min - selected_route.trip_info.total_transit_time_min) / 60.0) | number : 0 }}</div>
              </md-card>
            </div>
            <div flex flex="33" >
              <md-card class="teal">
                <div>Potential savings</div>
                <div class="value">R$ {{ (selected_route.trip_info.total_driving_cost_real - selected_route.trip_info.total_transit_cost_real) | number : 0 }} savings</div>
              </md-card>
            </div>
          </div>

          <div layout="row" class="progress-bar-summary">
            <div class="progress-bar-stats">
              <span class="stats-bold">R${{ selected_route.pledge_info.amount | number: 0 }}</span> 
              <span>pledged of R${{ selected_route.target_amount }}</span>
            </div>
          </div><!-- /progress-bar-summary -->

          <div layout="row">
            <progress class="progress-bar" max="100" value="{{ (selected_route.pledge_info.amount * 100.0 / selected_route.target_amount) }}"> </progress>
          </div>
          <div layout="row">
            <ul class="detailed-stats">
              <li>
                <div class="stats-value">{{ (selected_route.pledge_info.amount * 100.0 / selected_route.target_amount) | number: 0 }}%</div>
                <span class="stats-label">funded</span>
              </li>
              <li>
                <div class="stats-value">{{ selected_route.pledge_info.count }}</div>
                <span class="stats-label">pledges</span>
              </li>
              <li>
                <div class="stats-value">{{ selected_route.pledge_info.count }}</div>
                <span class="stats-label">backers</span>
              </li>
              <!--li>
                <div class="stats-value">{{ selected_route.trip_info.count }}</div>
                <span class="stats-label">trips</span>
              </li>
              <li>
                <div class="stats-value">{{ ((selected_route.trip_info.total_driving_time_min - selected_route.trip_info.total_transit_time_min) / 60.0) | number : 0 }}</div>
                <span class="stats-label">hour savings</span>
              </li-->
            </ul>
          </div><!-- /stats for progress bar -->
        </div>
      </div>

      <div layout="row">
        <!--div layout="column">
          <p>{{ selected_route.trip_info.count }} trips</p>
          <p>{{ selected_route.pledge_info.count }} backers</p>
          <p>{{ ((selected_route.trip_info.total_driving_time_min - selected_route.trip_info.total_transit_time_min) / 60.0) | number : 0 }} hour savings</p>
          <p>R$ {{ (selected_route.trip_info.total_driving_cost_real - selected_route.trip_info.total_transit_cost_real) | number : 0 }} savings</p>
          <p>R$ {{ selected_route.pledge_info.amount | number: 0 }} pledged</p>
          <p>R$ {{ selected_route.target_amount | number: 0 }} target</p>
          <p>R$ {{ (selected_route.pledge_info.amount * 100.0 / selected_route.target_amount) | number: 0 }}% funded</p-->
        <div flex="50">
          <h2>Trips per day</h2>
          <div class="graph-container">
            <canvas id="route_trip_per_day" class="chart chart-bar" 
              chart-data="route_trip_chart.data"
              chart-labels="route_trip_chart.labels" 
              chart-legend="false" 
              chart-series="route_trip_chart.series"
              >
            </canvas> 
          </div>
        </div>
        <div flex="50">
          <h2>Pledges</h2>
          <div class="graph-container">
            <canvas id="route_total_pledges" class="chart chart-line" 
              chart-data="route_pledge_chart.data"
              chart-labels="route_pledge_chart.labels" 
              chart-legend="false" 
              chart-series="route_pledge_chart.series"
              >
            </canvas> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--

  <md-grid-tile class="gray"
      md-rowspan="2" md-colspan="4" md-colspan-md="2" md-colspan-sm="1">

      <md-grid-tile-header>
        <h3>Summary Statistics</h3>
      </md-grid-tile-header>

      <md-grid-tile-footer>
        <h3>Bottom</h3>
      </md-grid-tile-footer>

  </md-grid-tile>

  <md-grid-tile class="gray"
      md-rowspan="4" md-colspan="2" md-colspan-sm="1">

      <md-grid-tile-header>
        <h3>Google Map</h3>
      </md-grid-tile-header>

      <md-grid-tile-footer>
        <h3>Bottom</h3>
      </md-grid-tile-footer>

  </md-grid-tile>


  <md-grid-tile class="gray"
      md-rowspan="2" md-colspan="2" md-colspan-sm="1">

      <md-grid-tile-header>
        <h3>Driving Trips Per Day</h3>
      </md-grid-tile-header>

      <md-grid-tile-footer>
        <h3>Bottom</h3>
      </md-grid-tile-footer>

  </md-grid-tile>

  <md-grid-tile class="gray"
      md-rowspan="2" md-colspan="2" md-colspan-sm="1">

      <md-grid-tile-header>
        <h3>Cumulative Pledges Per Day</h3>
      </md-grid-tile-header>

      <md-grid-tile-footer>
        <h3>Bottom</h3>
      </md-grid-tile-footer>

  </md-grid-tile>

-->

