<ion-view>
  <ion-nav-title>Popular Routes</ion-nav-title>
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">
        Top Routes
      </div>

      <div class="card" ng-repeat="route in routes" ng-click="goRouteDetail(route)">
        <div class="item item-body video-item">
          <div class="list">
            <div class="leading">
              <h2>Route: {{ route.routeId }}</h2>
            </div>
          </div>
        </div>
        <img class="trip-map-summary" src="assets/img/map1.png" >
      </div>
    </div>
    <br>


  </ion-content>

</ion-view>
