<ion-view>
  <ion-nav-title>My Routes</ion-nav-title>
  <ion-content class="padding routes">
    <div class="list">
      <div class="item item-divider section">
        Your Routes
      </div><!-- /item item-divider section -->
      <div class="card" ng-repeat="route in myRoutes" ng-click="goRouteDetail(route.route_id)">
        <div class="item item-divider header">
          <div class="route-title">
            <span>Grupo Ultra to Skye Bar</span>
            <span class="right">{{ routeTripCounts[route.route_id] || 0 }}x</span>
          </div>
          <div class="details">
            <span class="summary-stats">50 miles</span>
            <span class="summary-stats">2h42m</span>
          </div>
        </div><!-- item item-divider header -->

        <div class="item item-image">
          <img class="route-image" ng-src="{{ SERVER_URL+'/api/routes/all/'+route.route_id.toString()+'/map' }}" >
          <i class="map-heart ion-heart"></i>
          <button class="button button-balanced contribute-button" ng-click="goRoutePledgeDetail(route.route_id);$event.stopPropagation()">
            <span ng-if="!pledges[route.route_id].mine">PLEDGE</span>
            <span ng-if="pledges[route.route_id].mine">${{ pledges[route.route_id].mine_amount }}</span>
          </button>
        </div><!-- /item item-image -->

        <!-- not sure if this info belongs on index view -->
        <!--div class="item item-divider footer">
          <div class="supporter-stats">
            <span class="left">$10m</span>
            <span class="right">101<i class="ion-person-stalker"></i></span>
          </div>
        </div-->
      </div><!-- /card -->

      <div class="item item-divider section">
        Popular Routes
      </div><!-- /item item-divider section -->
      <div class="card" ng-repeat="route in popularRoutes" ng-click="goRouteDetail(route)">
        <div class="item item-divider header">
          <div class="route-title">
            <span>Grupo Ultra to Skye Bar</span>
            <span class="right">{{ routeTripCounts[route.route_id] || 0 }}x</span>
          </div>
          <div class="details">
            <span class="summary-stats">50 miles</span>
            <span class="summary-stats">2h42m</span>
          </div>
        </div><!-- item item-divider header -->

        <div class="item item-image">
          <img class="route-image" ng-src="{{ SERVER_URL+'/api/routes/all/'+route.route_id.toString()+'/map' }}" >
          <i class="map-heart ion-heart"></i>
          <button class="button button-balanced contribute-button" ng-click="goRoutePledgeDetail(route.route_id);$event.stopPropagation()">
            <span ng-if="!pledges[route.route_id].mine">PLEDGE</span>
            <span ng-if="pledges[route.route_id].mine">${{ pledges[route.route_id].mine_amount }}</span>
          </button>
        </div><!-- /item item-image -->
      </div><!-- /card -->
    </div>
    <br>

  </ion-content>

</ion-view>
