<ion-view>
  <ion-nav-title>{{ route.name}} </ion-nav-title>
  <ion-content class="padding route-detail">
    <!-- route title, should this be constructed? -->
    <div class="name">
      <h3>{{ route.name }}</h3>
    </div>
    <!-- route summary -->
    <img class="trip-map-summary" ng-src="{{ SERVER_URL+'/api/routes/all/'+route.route_id.toString()+'/map' }}" >
    <p>{{ route.description }}</p>

    <div class="stats">
      <span><span class="stats-bold">R${{ pledges[route.route_id].total_amount }}</span> raised of R${{ route.target_amount }}</span>
      <progress class="progress-bar" max="100" value="{{ 100 * pledges[route.route_id].total_amount / route.target_amount }}"> </progress>
    </div>
    <div class="details">
      <ul class="detailed-stats">
        <li>
          <div class="stats-value">{{ 100 * pledges[route.route_id].total_amount / route.target_amount | number:0 }}%</div>
          <span class="stats-label">funded</span>
        </li>
        <li>
          <div class="stats-value">R${{ pledges[route.route_id].total_amount }}</div>
          <span class="stats-label">raised</span>
        </li>
        <li>
          <div class="stats-value">{{ pledges[route.route_id].total_count }}</div>
          <span class="stats-label">pledges</span>
        </li>
      </ul>
    </div>

    <div class="friends">
      <h4>Friends who have pledged</h4>
      <div>
        <img class="avatar" ng-repeat="pic in profiles" src="{{pic}}" >
        profile pic: {{profiles}}
            
        <!--img class="avatar" src="{{profiles[0]}}">
        <img class="avatar" src="{{profiles[1]}}">
        <img class="avatar" src="{{profiles[2]}}"-->
      </div>
    </div>

    <hr class="hr-divider">

    <div class="total">
      <h4>This Week</h4>
      <div>
        <span>Total driving time:</span>
        <span class="right">{{ totalDrivingMin | number:0 }} min</span>
      </div>
      <div>
        <span>Total time on new Metro:</span>
        <span class="right">{{ totalTransitMin | number:0 }} min</span>
      </div>
      <br>
      <div class="stats-bold">
        <span>Time savings:</span>
        <span class="right">{{ (totalDrivingMin - totalTransitMin) | number:0 }} min</span>
      </div>
      <div class="stats-bold">
        <span>Cost savings:</span>
        <span class="right">R${{ (totalDrivingCost - totalTransitCost) | number:0 }}</span>
      </div>
    </div>

    <button class="button button-full button-balanced" ng-click="goRoutePledge(route)">
      PLEDGE
    </button>

    <br>
    <hr class="hr-divider">
    <br>

    <div class="item item-divider section">
      Trips Related to This Metro Route
    </div>
    <!--- trips making up the route -->
    <div class="card" ng-repeat="trip in trips" ng-click="goTripDetail(trip)">
      <div class="item item-body video-item">
        <div class="list header">
          <div class="item item-avatar header">
            <img class="profile-img" ng-src="{{ currentUser.photo_url }}">
            <div>{{ trip.local_timestamp | date : "h:mm a" }}</div>
            <div>{{ trip.name }}</div>
            <div>
              <span class="summary-stats left">{{ trip.total_distance_km | number: 1 }} km</span>
              <span class="summary-stats right">{{ trip.total_actual_duration_min | number: 0 }} min Driven</span>
            </div>
          </div>

        </div>
        <img class="trip-map-summary" ng-src="{{ SERVER_URL+'/api/trips/'+trip.trip_id.toString()+'/map' }}"></img>
      </div>
    </div>

    <button class="button button-full button-balanced" ng-click="goRoutePledge(route)">
      PLEDGE
    </button>
  </ion-content>
</ion-view>
