<ion-view>
  <ion-nav-title>RollTogether</ion-nav-title>
  <ion-content class="padding trip-feed">

    <button id="login-button" class="login button button-full button-balanced" ng-click="goLogin()">Sign in</button>

    <div id="profileHeader"></div>

    <div class="list">
      <div ng-repeat="feedItem in feedItems">

        <div ng-if="feedItem.item_type == 'feed_divider'" class="item item-divider date">
          {{ feedItem.item_details.name }}
          <span class="right feed-item-count">{{feedItem.item_details.item_count}}<span>
        </div>

        <div ng-if="feedItem.item_type == 'my_trip'" ng-click="goTripDetail(feedItem.item_id)" class="card">
          <div class="item item-body video-item">
            <div class="item item-avatar header">
              <img class="profile-img" src="assets/img/profile_pic1.png">
              <div>{{ feedItem.item_local_timestamp | date : "h:mm a" }}</div>
              <div>{{ feedItem.item_details.name }}</div>
              <div>
                <span class="summary-stats">{{ feedItem.item_details.total_distance_km | number: 1}} km</span>
                <span class="summary-stats">{{ feedItem.item_details.total_actual_duration_min | number: 0 }} min</span>
              </div>
            </div><!-- /item item-avatar header -->
            <img class="trip-map-summary" ng-src="{{ SERVER_URL+'/api/trips/'+feedItem.item_id.toString()+'/map' }}"></img>
            <!--<trip-map trip="feedItem.item_details"></trip-map>-->
          </div>
        </div>

      </div>

  
    </div>
    <br>
  </ion-content>

</ion-view>
