<ion-view>
  <ion-nav-title>
      <img class="header-logo-left" src="assets/img/logo-white.png"></img>
      Roll Together
  </ion-nav-title>
  <ion-content class="padding trip-feed">
    <ion-refresher
      pulling-text="Pull to refresh feed"
      on-refresh="goRefresh()">
    </ion-refresher>

    <button ng-show="!currentUser.access_token" id="login-button" class="login button button-full button-calm" ng-click="goLogin()">Sign in</button>

    <div class="list">
      <div ng-repeat="feedItem in feedItems">

        <div ng-if="feedItem.item_type == 'feed_divider'" class="item item-divider date">
          {{ feedItem.item_details.name }}
          <span class="right feed-item-count">{{feedItem.item_details.item_count}}<span>
        </div>

        <div ng-if="feedItem.item_type == 'my_trip'" ng-click="goTripDetail(feedItem.item_id)" class="card">
          <div class="item item-avatar header">
            <img class="profile-img" ng-src="{{ feedItem.user_profile.photo_url }}">
            <h2>Your Trip: {{ feedItem.item_details.name }}</h2>
            <p>{{ feedItem.item_local_timestamp | date : "EEE h:mm a" }}</p>
            <p>
              <span class="summary-stats">{{ feedItem.item_details.total_distance_km | number: 1}} km</span>
              <span class="summary-stats">{{ feedItem.item_details.total_actual_duration_min | number: 0 }} min</span>
            </p>
          </div><!-- /item item-avatar header -->
          <div class="item item-image">
            <img class="trip-map-summary" ng-src="{{ SERVER_URL+'/api/trips/'+feedItem.item_id.toString()+'/map' }}"></img>
          </div>
        </div>

        <div ng-if="feedItem.item_type == 'friend_pledge'" ng-click="goRouteDetail(feedItem)" class="card friend-pledge pledge">
          <div class="item item-avatar header">
            <img class="profile-img" ng-src="{{ feedItem.user_profile.photo_url }}">
            <h2>{{ feedItem.user_profile.name }} pledged <span class="amount">R$ {{ feedItem.item_details.pledge.amount | number: 2 }}</span></h2>
            <p>{{ feedItem.item_local_timestamp | date : "EEE h:mm a" }}</p>
            <p>{{ feedItem.item_details.route.name }}</p>
          </div><!-- /item item-avatar header -->
        </div>

        <div ng-if="feedItem.item_type == 'my_pledge'" ng-click="goPledgeDetail(feedItem)" class="card my-pledge pledge">
          <div class="item item-avatar header">
            <img class="profile-img" ng-src="{{ feedItem.user_profile.photo_url }}">
            <h2>You pledged <span class="amount">R$ {{ feedItem.item_details.pledge.amount | number: 2 }}</span></h2>
            <img class="backer" src="assets/img/backer-badge.png" />
            <p>{{ feedItem.item_local_timestamp | date : "EEE h:mm a" }}</p>
            <p>{{ feedItem.item_details.route.name }}</p>
          </div><!-- /item item-avatar header -->
        </div--><!-- /card -->
      </div>
    </div>
    <br>
  </ion-content>

</ion-view>
